// The latest settings can be found here:
// https://github.com/zurb/bower-foundation/blob/master/scss/foundation/_settings.scss

// Allows the use of rem-calc() or lower-bound() in your settings
//@import 'foundation/functions';
$nice-blue: #47CFFC;

// http://foundation.zurb.com/docs/components/topbar.html
$topbar-bg-color: $nice-blue;
$topbar-bg: $topbar-bg-color;

$topbar-height: 6rem;
$topbar-link-font-size: 14px;

// http://foundation.zurb.com/docs/components/breadcrumbs.html
$crumb-slash: "/";

