// bootstrap imports
@import "functions";
@import "variables";
@import "mixins";
@import "tables";

$topbar-height: 75px;

$title-font: 'Museo500Regular', 'Open Sans', Helvetica, Arial, sans-serif;
$navbar-font: 'Raleway', Helvetica, Arial, sans-serif;
$body-font: 'Open Sans', Helvetica, Arial, sans-serif;

body {
  font-family: $body-font;
  font-weight: normal;
  font-size: 1rem;
  text-rendering: optimizelegibility;

  padding-top: $topbar-height; // to skip the fixed nav bar
}

@media print {
  nav.navbar, #sidebar, .twitter, div.notice, a[name=content] {
    display: none !important;
  }
  body {
    padding-top: 0;
  }
}

nav.navbar {
  background: white;

  font-family: $navbar-font;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  font-style: normal;

  &.navbar-light .navbar-nav .nav-link {
    color: #333333;
    &.btn-sm {
      font-weight: 600;
      font-size: 13px;
      color: white;
      background-color: rgb(247, 147, 30); // orangeish
      border-color: rgb(247, 147, 30); // orangeish
      padding: 1em 1.5em;
    }
  }

  li {
    padding-left: 7px;
    padding-right: 7px;
  }
  a {
    letter-spacing: 1px;
    zoom: 1;
  }

  height: $topbar-height;

  /* so the logo doesn't push the hamburger down on narrow screens */
  .col.navbar-left {
    max-width: 75%;
    a.navbar-brand {
      max-width: 100%;
      img.logo {
        height: 74px;
        width: auto;
        vertical-align: middle;
        max-height: $topbar-height;
      }
    }
  }

  li.nav-item {
    &.bordered {
      border: 1px solid black;
      border-radius: .25rem;
    }
  }

  #pageNavbar {
    @include media-breakpoint-down(sm) {
      // show a border when it pops up on small screens
      padding-bottom: 1rem;
      border-bottom: 1px solid lightgray;
    }
  }
}

main {
  background-color: white;
  max-width: 80em;
  center.logo {
    padding: 1rem;
  }
  h1, h2, h3, h4, h5 {
    font-family: $title-font;
  }
  img {
    max-width: 100%;
  }
  blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 0.5em;
    padding: 0.5em;
    font-style: italic;
    font-size: 110%;
  }
}

section.slide {
  padding: 1em;
  margin-bottom: 2em;
  margin-top: 3em;
  border: 1px solid black;

  h1, > h2:first-child {
    text-decoration: lightblue underline;
  }
  > h2:first-child {
    margin: 2px 0 8px -4px;
    font-size: 2rem;
  }
  > h1 {
    font-size: 3em;
  }

  &.subsection {
    > h1 {
      background-color: #e8e8fc;
      text-align: center;
    }
    > h2:first-child {
      font-size: 3em;
    }
  }

  blockquote {
    font-style: italic;
    border-left: 2px solid #ddd;
    padding-left: 1em;
  }
}

.slide li {
  margin-bottom: .5em;
}

.slide li:first-child {
  margin-top: .5em;
}

.slide pre, code, samp {
  font-family: monospace, sans-serif;
  background: #f4f4f1;
}

.slide pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 1em;
  border: 1px solid #ccc;
  display: inline-block; /* so it's only as wide as its contents */
}

.slide code {
  color: #444;
  padding: 0 3px;
}

div.right_side {
  float: right;
  max-width: 24em;
}

div.twitter {
  padding-left: 1em;
}

div.blog .rssHeader > a:after {
  content: ' - Recent Blog Entries'
}

/* left sidebar ("Tracks") */
$triangle-pointing-right: str-replace(str-replace(
                url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><polygon points='1,1 1,30 30,15 1,1' style='fill:gray;stroke:black;stroke-width:1' /></svg>"),
                "<", "%3C"), ">", "%3E");
$triangle-pointing-down: str-replace(str-replace(
                url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><polygon points='1,1 30,1 15,30 1,1' style='fill:gray;stroke:black;stroke-width:1' /></svg>"),
                "<", "%3C"), ">", "%3E");

.tracks-toggler {
  @include media-breakpoint-up('md') {
    display: none;
  }
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: 0 0;

  @include hover-focus {
    text-decoration: none;
  }
}

.tracks-toggler, .toggler {
  span.svg-icon {
    background-image: $triangle-pointing-down;
  }
  &.collapsed span.svg-icon {
    background-image: $triangle-pointing-right;
  }
}

span.svg-icon {
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  vertical-align: middle;
  content: "";
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
}

.link {
  .icon.freecodecamp {
    img {
      width: 30px;
      height: 24px;
      margin: 2px 4px;
      background: green;
      border: 2px solid green;
    }
  }
  .icon.codecademy {
    img {
      width: 40px;
      height: 40px;
      margin: 2px 2px;
      border: none;
    }
  }

  &.topic {
    a, a:visited {
      font-size: 80%;
      color: black;
      background: lavender;
      border: 1px solid purple;
      border-radius: 4px;
      padding: 3px 6px;
      margin: 2px;
      display: inline-block;
    }
  }
}

// for showing story boxes in Markdown projects
.box {
  border: 1px solid black;
  padding: 1em;
  margin: 1em 0;

  h2, h3, h4 {
    text-decoration: underline;
    font-family: $body-font;
  }

  pre {
    background: #ededfc;
  }
}

/* make the sidebars scrolly and fixed on bigger screens */
@include media-breakpoint-up(md) {
  #sidebar, #right-sidebar {
    display: block;
    max-height: calc(100vh - #{$topbar-height}); // using SassScript interpolation so the math happens at runtime
    overflow-y: auto;
    position: sticky;
    top: $topbar-height;
    z-index: 1000; // why?
    padding-top: 1rem;
  }

  // this hocus-pocus is to correct for anchor links scrolling to underneath the page header
  a[name=content] {
    display: block;
    position: relative;
    height: $topbar-height;
  }
  a.slide-anchor {
    display: block;
    position: relative;
    visibility: hidden;
    height: 0;
    top: -$topbar-height;
  }
}

#sidebar-tracks {
  // show it by default on wider screens
  @include media-breakpoint-up(md) {
    display: block;
  }
}

@include media-breakpoint-down(sm) {
  // underline the title-plus-toggle-button on small screens
  #sidebar {
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    h1, h2, h3, h4 {
      margin: 2px 0;
    }
  }
}

#sidebar-tracks, #right-sidebar > .outline > .list-group {
  font-size: 85%;

  .list-group.lesson-names {
    margin-top: .5rem;
    border-radius: 0;
    .list-group-item {
      // indent, but let the background color go all the way to the left border
      padding: .4rem 0 .4rem 1.8rem;
      margin: 0 -1rem;
    }

    .loading_image {
      background-image: url(/images/loading.gif);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;

      height: 18px;
      width: 18px;
      float: right;
      margin: 0 2px;

      display: none; // start off invisible
    }
  }

  .active {
    background-color: #EEF;
  }
  a {
    color: black;
    display: inline-block; // to make the whole row clickable
    width: 100%;
  }
}

#sidebar-tracks {
  a.track-info-link {
    // this is an INSANE way to get it to float right
    display: inline;
    position: absolute;
    padding: 0 0;
    margin: -4px 2px;
    width: 28px; // ignore any warning; this width *is* needed
    text-align: center;
    vertical-align: center;
    font-size: 150%;
    right: 2px;

    visibility: hidden;
  }

  div.track-name:hover a.track-info-link {
    visibility: visible;
    background-color: white;
  }
}

.dropdown-menu a.track-name {
  text-transform: none;
}

h1.lesson-name {
  border-bottom: 2px solid purple;
  span.track-name {
    font-size: 60%;
  }
}

div.next_and_previous {
  margin: 2px;
  display: block;
  font-size: 80%;
  font-weight: bold;
  font-style: italic;

  a.next_lesson {
    float: right;
    //   margin-right: -1em;
    // text-align: right;
  }

  a.previous_lesson {
    float: left;
    // text-align: left;
    //   margin-left: -1em;
  }

  a {
    color: black;
  }
}

div#disqus_thread {
  border: 1px solid gray;
  padding: 1em;
}

div.main_column img {
  max-width: 100%;
}

.footer {
  clear: both;
  padding: 2rem;
  border-top: 1px solid #EEEEEE;
}

.video {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;

  margin: 1em;
  border: 6px solid gray;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

table {
  border: 2px solid gray;
  border-collapse: collapse;
  box-shadow: #c8c8f1 2px 2px 4px;

  ul {
    list-style: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
  }
  td.lessons {
    font-size: 90%;
    padding-top: .5em;
  }
  &, td, th {
    border: 1px solid black;
    padding: 4px 8px 8px;
  }
  th {
    text-shadow: 1px 1px #ededed;
    background-color: #B3C8E8;
  }
  td {
  }
  tr:nth-child(even) {
    background-color: #EEEEF2;
  }
  tr:nth-child(odd) {
    background-color: #FFFFFF;
  }
  a {
    text-decoration: none;
    display: block;
    padding: 2px;
  }
  a:hover {
    text-decoration: underline;
    background-color: #B3C8E8;
  }
  a:visited {
    color: black;
  }
}

.markdown {
  padding-left: 4em;
  h1 {
    margin-left: -2em;
  }
  h2 {
    margin-left: -2em;
  }
  h3 {
    margin-left: -1em;
  }

  kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: #444d56;
    vertical-align: middle;
    background-color: #fafbfc;
    border: solid 1px #c6cbd1;
    border-bottom-color: #959da5;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #959da5;
  }

}

span.video_link {
  @media screen {
    float: right;
  }
  border: 1px dotted black;
  padding: 1px 2px;
  margin-left: 1em;
}
