@import '_settings';

$nice_bg: url(/bg.png);  // background image courtesy of http://www.bgpatterns.com/ 779FC9/B2CFED

body {
  padding-top: $topbar-height; // to skip the fixed nav bar
}

body {
  font-family: 'Museo500Regular', 'Arial', 'Sans';
  text-rendering: optimizelegibility;
}

nav.navbar {
  background: white;
}

//center.logo {
//  background: $nice-blue;
//}
//
//.top-bar {
//  background: $nice-blue;
//  border-bottom: 1px solid blue;
//
//  .nav-buttons {
//    text-align: center;
//    padding: 0 6px;
//    background: $nice-blue;
//
//    ul {
//      list-style-type: none;
//      -webkit-margin-before: 0;
//      -webkit-margin-after: 0;
//      -webkit-margin-start: 0;
//      -webkit-margin-end: 0;
//      -webkit-padding-start: 0;
//      padding: 1px 1em;
//      li {
//        display: inline;
//        padding: 2px 20px;
//        border-right: 1px solid blue;
//        &:last-child {
//          border-right: none;
//        }
//      }
//    }
//
//    a {
//      text-decoration: none;
//      color: black;
//    }
//    a:visited {
//      color: black;
//    }
//    a:hover {
//      background-color: darken($nice-blue, 10%);
//    }
//
//    .donate_button {
//      display: inline-block;
//      background-color: $topbar-bg-color;
//      vertical-align: middle;
//      input {
//        height: auto;
//        position: inherit;
//      }
//    }
//  }
//
//  // extra stuff (and overrides) for small-screen menu
//  .toggle-topbar.menu-icon {
//    margin-top: 0;
//    top: 0;
//  }
//  &.expanded {
//    background: $nice-blue;
//    .nav-buttons {
//      padding: 0 0;
//      ul {
//        padding: 0 0;
//      }
//      li {
//        display: block;
//        padding: 2px 0px;
//        border-right: none;
//        border-top: 1px solid blue;
//        a {
//          display: block;
//        }
//      }
//    }
//  }
//
//}

/////

//.main {
//  padding: 1em 1em 1em 2em;
//  font-family: 'Helvetica Neue', Helvetica, Arial, Sans;
//  min-height: 30em;
//  background: white;
//}
//.main_column {
//  max-width: 56em;
//}
//
//.pre_footer {
//  clear: both;
//  background: white;
//}
//.footer {
//  padding: 4px 2px 8px;
//  text-align: center;
//  border-top: 1px solid blue;
//  background: $nice_blue;
//  font-size: 11pt;
//  min-height: 2em;
//}

section.slide {
  border-top: 1px solid #ddd;
  padding-left: 1em;
  margin-bottom: 2em;
}
section.slide h1, section.slide > h2:first-child {
  font-family: 'Helvetica Neue', Helvetica, Arial, Sans;
}
section.slide > h2:first-child {
  margin: 2px 0 2px -4px;
  font-size: 2em;
  text-shadow: #ddd 0.1em 0.1em 0.1em;
}
section.slide > h1 {
  font-size: 3em;
}
section.slide.subsection {
  border-top: 2px solid blue;
}
section.slide.subsection > h2:first-child {
  font-size: 3em;
}
section.slide blockquote {
  font-style: italic;
  border-left: 2px solid #ddd;
  padding-left: 1em;
}

.slide li {
  margin-bottom: .5em;
}
.slide li:first-child {
  margin-top: .5em;
}

.slide pre, code, kbd, samp {
  font-family:monospace, sans-serif;
  background: #f4f4f1;
}
.slide pre {
  white-space:pre;
  white-space:pre-wrap;
  word-wrap:break-word;
  padding: 1em;
  border:1px solid #ccc;
  display: inline-block; /* so it's only as wide as its contents */
}
.slide code {
  color:#444;
  padding: 0 3px;
}

iframe.video {
  margin: 1em;
  padding: .5em;
  border: 6px solid gray;
}

div.bubble {
  border: 1px solid black;
  box-shadow: #c8c8f1 2px 2px 4px;
  max-width: 30em;
  padding: .25em 1em;
  margin-bottom: 1em;
}

div.bubble h2 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

div.right_side {
  float: right;
  max-width: 24em;
}
div.twitter {
  padding-left: 1em;
}
div.blog .rssHeader > a:after {
  content: ' - Recent Blog Entries'
}