/* line 2, ../scss/tables.scss */
.slide table {
  display: table;
  border-collapse: collapse;
  border-spacing: 2px;
  border-color: gray;
  margin: 15px 0; }
/* line 10, ../scss/tables.scss */
.slide table tr {
  border-top: 1px solid #CCC;
  background-color: white;
  margin: 0;
  padding: 0; }
/* line 17, ../scss/tables.scss */
.slide table tr th, .slide table tr td {
  border: 1px solid #CCC;
  text-align: left;
  margin: 0;
  padding: 6px 13px; }
/* line 24, ../scss/tables.scss */
.slide table thead tr {
  background-color: #F2F2F8; }
/* line 28, ../scss/tables.scss */
.slide table tr:nth-child(2n) {
  background-color: #F8F8F8; }

/* line 13, ../scss/app.scss */
body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 1rem;
  text-rendering: optimizelegibility;
  padding-top: 75px; }

@media print {
  /* line 23, ../scss/app.scss */
  nav.navbar, #sidebar, .twitter, div.notice, a[name=content] {
    display: none !important; }

  /* line 26, ../scss/app.scss */
  body {
    padding-top: 0; } }
/* line 32, ../scss/app.scss */
nav.navbar {
  background: white;
  font-family: "Raleway", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  font-style: normal;
  min-height: 75px;
  /* so the logo doesn't push the hamburger down on narrow screens */ }
  /* line 41, ../scss/app.scss */
  nav.navbar.navbar-light .navbar-nav .nav-link {
    color: #333333; }
    /* line 43, ../scss/app.scss */
    nav.navbar.navbar-light .navbar-nav .nav-link.btn-sm {
      font-weight: 600;
      font-size: 13px;
      color: white;
      background-color: #f7931e;
      border-color: #f7931e;
      padding: 1em 1.5em; }
  /* line 53, ../scss/app.scss */
  nav.navbar li {
    padding-left: 7px;
    padding-right: 7px; }
  /* line 57, ../scss/app.scss */
  nav.navbar a {
    letter-spacing: 1px;
    zoom: 1; }
  /* line 65, ../scss/app.scss */
  nav.navbar .col.navbar-left {
    max-width: 75%; }
    /* line 67, ../scss/app.scss */
    nav.navbar .col.navbar-left a.navbar-brand {
      max-width: 100%; }
      /* line 69, ../scss/app.scss */
      nav.navbar .col.navbar-left a.navbar-brand img.logo {
        height: auto;
        vertical-align: middle; }
  /* line 77, ../scss/app.scss */
  nav.navbar li.nav-item.bordered {
    border: 1px solid black;
    border-radius: .25rem; }
  @media (max-width: 767px) {
    /* line 83, ../scss/app.scss */
    nav.navbar #pageNavbar {
      padding-bottom: 1rem;
      border-bottom: 1px solid lightgray; } }

/* line 92, ../scss/app.scss */
main {
  background-color: white;
  max-width: 80em; }
  /* line 95, ../scss/app.scss */
  main center.logo {
    padding: 1rem; }
  /* line 98, ../scss/app.scss */
  main h1, main h2, main h3, main h4, main h5 {
    font-family: "Museo500Regular", "Open Sans", Helvetica, Arial, sans-serif; }
  /* line 101, ../scss/app.scss */
  main img {
    max-width: 100%; }
  /* line 104, ../scss/app.scss */
  main blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 0.5em;
    padding: 0.5em;
    font-style: italic;
    font-size: 110%; }

/* line 114, ../scss/app.scss */
section.slide {
  padding: 1em;
  margin-bottom: 2em;
  margin-top: 3em;
  border: 1px solid black; }
  /* line 120, ../scss/app.scss */
  section.slide h1, section.slide > h2:first-child {
    text-decoration: lightblue underline; }
  /* line 123, ../scss/app.scss */
  section.slide > h2:first-child {
    margin: 2px 0 8px -4px;
    font-size: 2rem; }
  /* line 127, ../scss/app.scss */
  section.slide > h1 {
    font-size: 3em; }
  /* line 132, ../scss/app.scss */
  section.slide.subsection > h1 {
    background-color: #e8e8fc;
    text-align: center; }
  /* line 136, ../scss/app.scss */
  section.slide.subsection > h2:first-child {
    font-size: 3em; }
  /* line 141, ../scss/app.scss */
  section.slide blockquote {
    font-style: italic;
    border-left: 2px solid #ddd;
    padding-left: 1em; }

/* line 148, ../scss/app.scss */
.slide li {
  margin-bottom: .5em; }

/* line 152, ../scss/app.scss */
.slide li:first-child {
  margin-top: .5em; }

/* line 156, ../scss/app.scss */
.slide pre, code, kbd, samp {
  font-family: monospace, sans-serif;
  background: #f4f4f1; }

/* line 161, ../scss/app.scss */
.slide pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 1em;
  border: 1px solid #ccc;
  display: inline-block;
  /* so it's only as wide as its contents */ }

/* line 170, ../scss/app.scss */
.slide code {
  color: #444;
  padding: 0 3px; }

/* line 175, ../scss/app.scss */
div.right_side {
  float: right;
  max-width: 24em; }

/* line 180, ../scss/app.scss */
div.twitter {
  padding-left: 1em; }

/* line 184, ../scss/app.scss */
div.blog .rssHeader > a:after {
  content: " - Recent Blog Entries"; }

/* left sidebar ("Tracks") */
/* line 196, ../scss/app.scss */
.tracks-toggler {
  padding: .25rem .75rem;
  font-size: 1.25rem;
  line-height: 1;
  background: 0 0; }
  @media (min-width: 768px) {
    /* line 196, ../scss/app.scss */
    .tracks-toggler {
      display: none; } }
  /* line 24, /Users/alex/Dropbox/dev/codelikethis/public/scss/bootstrap-4.0.0-beta.2/scss/mixins/_hover.scss */
  .tracks-toggler:focus, .tracks-toggler:hover {
    text-decoration: none; }

/* line 211, ../scss/app.scss */
.tracks-toggler span.svg-icon, .toggler span.svg-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpolygon points='1,1 30,1 15,30 1,1' style='fill:gray;stroke:black;stroke-width:1' /%3E%3C/svg%3E"); }
/* line 214, ../scss/app.scss */
.tracks-toggler.collapsed span.svg-icon, .toggler.collapsed span.svg-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpolygon points='1,1 1,30 30,15 1,1' style='fill:gray;stroke:black;stroke-width:1' /%3E%3C/svg%3E"); }

/* line 219, ../scss/app.scss */
span.svg-icon {
  display: inline-block;
  width: 0.75em;
  height: 0.75em;
  vertical-align: middle;
  content: "";
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center; }

/* line 233, ../scss/app.scss */
.link .icon.freecodecamp img {
  width: 30px;
  height: 24px;
  margin: 2px 4px;
  background: green;
  border: 2px solid green; }
/* line 242, ../scss/app.scss */
.link .icon.codecademy img {
  width: 40px;
  height: 40px;
  margin: 2px 2px;
  border: none; }
/* line 251, ../scss/app.scss */
.link.topic a, .link.topic a:visited {
  font-size: 80%;
  color: black;
  background: lavender;
  border: 1px solid purple;
  border-radius: 4px;
  padding: 3px 6px;
  margin: 2px;
  display: inline-block; }

/* line 265, ../scss/app.scss */
.box {
  border: 1px solid black;
  padding: 1em;
  margin: 1em 0; }
  /* line 270, ../scss/app.scss */
  .box h2, .box h3, .box h4 {
    text-decoration: underline;
    font-family: "Open Sans", Helvetica, Arial, sans-serif; }
  /* line 275, ../scss/app.scss */
  .box pre {
    background: #ededfc; }

/* make the sidebars scrolly and fixed on bigger screens */
@media (min-width: 768px) {
  /* line 282, ../scss/app.scss */
  #sidebar, #right-sidebar {
    display: block;
    max-height: calc(100vh - 75px);
    overflow-y: auto;
    position: sticky;
    top: 75px;
    z-index: 1000;
    padding-top: 1rem; }

  /* line 293, ../scss/app.scss */
  a[name=content] {
    display: block;
    position: relative;
    height: 75px; }

  /* line 298, ../scss/app.scss */
  a.slide-anchor {
    display: block;
    position: relative;
    visibility: hidden;
    height: 0;
    top: -75px; } }
@media (min-width: 768px) {
  /* line 307, ../scss/app.scss */
  #sidebar-tracks {
    display: block; } }

@media (max-width: 767px) {
  /* line 316, ../scss/app.scss */
  #sidebar {
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray; }
    /* line 319, ../scss/app.scss */
    #sidebar h1, #sidebar h2, #sidebar h3, #sidebar h4 {
      margin: 2px 0; } }
/* line 325, ../scss/app.scss */
#sidebar-tracks, #right-sidebar > .outline > .list-group {
  font-size: 85%; }
  /* line 328, ../scss/app.scss */
  #sidebar-tracks .list-group.lesson-names, #right-sidebar > .outline > .list-group .list-group.lesson-names {
    margin-top: .5rem;
    border-radius: 0; }
    /* line 331, ../scss/app.scss */
    #sidebar-tracks .list-group.lesson-names .list-group-item, #right-sidebar > .outline > .list-group .list-group.lesson-names .list-group-item {
      padding: .4rem 0 .4rem 1.8rem;
      margin: 0 -1rem; }
    /* line 337, ../scss/app.scss */
    #sidebar-tracks .list-group.lesson-names .loading_image, #right-sidebar > .outline > .list-group .list-group.lesson-names .loading_image {
      background-image: url(/images/loading.gif);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      height: 18px;
      width: 18px;
      float: right;
      margin: 0 2px;
      display: none; }
  /* line 352, ../scss/app.scss */
  #sidebar-tracks .active, #right-sidebar > .outline > .list-group .active {
    background-color: #EEF; }
  /* line 355, ../scss/app.scss */
  #sidebar-tracks a, #right-sidebar > .outline > .list-group a {
    color: black;
    display: inline-block;
    width: 100%; }

/* line 363, ../scss/app.scss */
#sidebar-tracks a.track-info-link {
  display: inline;
  position: absolute;
  padding: 0 0;
  margin: -4px 2px;
  width: 28px;
  text-align: center;
  vertical-align: center;
  font-size: 150%;
  right: 2px;
  visibility: hidden; }
/* line 378, ../scss/app.scss */
#sidebar-tracks div.track-name:hover a.track-info-link {
  visibility: visible;
  background-color: white; }

/* line 384, ../scss/app.scss */
.dropdown-menu a.track-name {
  text-transform: none; }

/* line 388, ../scss/app.scss */
h1.lesson-name {
  border-bottom: 2px solid purple; }
  /* line 390, ../scss/app.scss */
  h1.lesson-name span.track-name {
    font-size: 60%; }

/* line 395, ../scss/app.scss */
div.next_and_previous {
  margin: 2px;
  display: block;
  font-size: 80%;
  font-weight: bold;
  font-style: italic; }
  /* line 402, ../scss/app.scss */
  div.next_and_previous a.next_lesson {
    float: right; }
  /* line 408, ../scss/app.scss */
  div.next_and_previous a.previous_lesson {
    float: left; }
  /* line 414, ../scss/app.scss */
  div.next_and_previous a {
    color: black; }

/* line 419, ../scss/app.scss */
div#disqus_thread {
  border: 1px solid gray;
  padding: 1em; }

/* line 424, ../scss/app.scss */
div.main_column img {
  max-width: 100%; }

/* line 428, ../scss/app.scss */
.footer {
  clear: both;
  padding: 2rem;
  border-top: 1px solid #EEEEEE; }

/* line 434, ../scss/app.scss */
.video {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin: 1em;
  border: 6px solid gray; }
  /* line 443, ../scss/app.scss */
  .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

/* line 452, ../scss/app.scss */
table {
  border: 2px solid gray;
  border-collapse: collapse;
  box-shadow: #c8c8f1 2px 2px 4px; }
  /* line 457, ../scss/app.scss */
  table ul {
    list-style: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0; }
  /* line 465, ../scss/app.scss */
  table td.lessons {
    font-size: 90%;
    padding-top: .5em; }
  /* line 469, ../scss/app.scss */
  table, table td, table th {
    border: 1px solid black;
    padding: 4px 8px 8px; }
  /* line 473, ../scss/app.scss */
  table th {
    text-shadow: 1px 1px #ededed;
    background-color: #B3C8E8; }
  /* line 479, ../scss/app.scss */
  table tr:nth-child(even) {
    background-color: #EEEEF2; }
  /* line 482, ../scss/app.scss */
  table tr:nth-child(odd) {
    background-color: #FFFFFF; }
  /* line 485, ../scss/app.scss */
  table a {
    text-decoration: none;
    display: block;
    padding: 2px; }
  /* line 490, ../scss/app.scss */
  table a:hover {
    text-decoration: underline;
    background-color: #B3C8E8; }
  /* line 494, ../scss/app.scss */
  table a:visited {
    color: black; }

/* line 499, ../scss/app.scss */
.markdown {
  padding-left: 4em; }
  /* line 501, ../scss/app.scss */
  .markdown h1 {
    margin-left: -2em; }
  /* line 504, ../scss/app.scss */
  .markdown h2 {
    margin-left: -2em; }
  /* line 507, ../scss/app.scss */
  .markdown h3 {
    margin-left: -1em; }

/* line 512, ../scss/app.scss */
span.video_link {
  border: 1px dotted black;
  padding: 1px 2px;
  margin-left: 1em; }
  @media screen {
    /* line 512, ../scss/app.scss */
    span.video_link {
      float: right; } }

/*# sourceMappingURL=app.css.map */
