/* line 9, ../scss/app.scss */
body {
  padding-top: 75px;
  font-family: 'Museo500Regular', 'Arial', 'Sans';
  text-rendering: optimizelegibility;
  background-color: #f8f9fa; }

/* line 16, ../scss/app.scss */
nav.navbar {
  background: white;
  min-height: 75px;
  padding-top: 0px;
  padding-bottom: 0px; }
  /* line 23, ../scss/app.scss */
  nav.navbar div.logo-div img.logo {
    height: auto;
    max-width: 100%;
    vertical-align: middle; }

/* line 31, ../scss/app.scss */
main {
  background-color: white;
  max-width: 80em; }
  /* line 34, ../scss/app.scss */
  main center.logo {
    padding: 1rem; }

/* line 40, ../scss/app.scss */
a.slide-anchor {
  display: block;
  position: relative;
  visibility: hidden;
  height: 0;
  top: -75px; }

/* line 48, ../scss/app.scss */
section.slide {
  padding: 1em;
  margin-bottom: 2em;
  margin-top: 3em;
  border: 1px solid black; }
  /* line 54, ../scss/app.scss */
  section.slide h1, section.slide > h2:first-child {
    font-family: 'Helvetica Neue', Helvetica, Arial, Sans; }
  /* line 57, ../scss/app.scss */
  section.slide > h2:first-child {
    margin: 2px 0 2px -4px;
    font-size: 2em;
    text-shadow: #ddd 0.1em 0.1em 0.1em; }
  /* line 62, ../scss/app.scss */
  section.slide > h1 {
    font-size: 3em; }
  /* line 67, ../scss/app.scss */
  section.slide.subsection > h1 {
    background-color: #e8e8fc;
    text-align: center; }
  /* line 71, ../scss/app.scss */
  section.slide.subsection > h2:first-child {
    font-size: 3em; }
  /* line 76, ../scss/app.scss */
  section.slide blockquote {
    font-style: italic;
    border-left: 2px solid #ddd;
    padding-left: 1em; }

/* line 83, ../scss/app.scss */
.slide li {
  margin-bottom: .5em; }

/* line 87, ../scss/app.scss */
.slide li:first-child {
  margin-top: .5em; }

/* line 91, ../scss/app.scss */
.slide pre, code, kbd, samp {
  font-family: monospace, sans-serif;
  background: #f4f4f1; }

/* line 96, ../scss/app.scss */
.slide pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 1em;
  border: 1px solid #ccc;
  display: inline-block;
  /* so it's only as wide as its contents */ }

/* line 105, ../scss/app.scss */
.slide code {
  color: #444;
  padding: 0 3px; }

/* line 110, ../scss/app.scss */
iframe.video {
  margin: 1em;
  padding: .5em;
  border: 6px solid gray; }

/* line 116, ../scss/app.scss */
div.right_side {
  float: right;
  max-width: 24em; }

/* line 121, ../scss/app.scss */
div.twitter {
  padding-left: 1em; }

/* line 125, ../scss/app.scss */
div.blog .rssHeader > a:after {
  content: " - Recent Blog Entries"; }

/* make the sidebars scrolly and fixed on bigger screens */
@media (min-width: 768px) {
  /* line 131, ../scss/app.scss */
  #sidebar, #right-sidebar {
    display: block !important;
    max-height: calc(100vh - 75px);
    overflow-y: auto;
    position: sticky;
    top: 75px;
    z-index: 1000;
    padding-top: 1rem; } }
/* line 142, ../scss/app.scss */
#sidebar-courses, #right-sidebar > .outline > .list-group {
  font-size: 85%; }
  /* line 144, ../scss/app.scss */
  #sidebar-courses .list-group-item, #right-sidebar > .outline > .list-group .list-group-item {
    padding: .4rem 0 .4rem 1rem; }

/* line 149, ../scss/app.scss */
h1.lesson-name {
  border-bottom: 2px solid purple; }
  /* line 151, ../scss/app.scss */
  h1.lesson-name span.course-name {
    font-size: 60%; }

/* line 156, ../scss/app.scss */
div.next_and_previous {
  margin: 2px;
  border: 1px dotted gray;
  background-color: #f8f9fa;
  display: block;
  font-size: 80%;
  font-weight: bold;
  font-family: 'Helvetica Neue', Helvetica, Arial, Sans;
  font-style: italic; }
  /* line 166, ../scss/app.scss */
  div.next_and_previous a.next_lesson {
    float: right; }
  /* line 172, ../scss/app.scss */
  div.next_and_previous a.previous_lesson {
    float: left; }

/* line 179, ../scss/app.scss */
div.footer {
  clear: both; }

/* line 183, ../scss/app.scss */
div#disqus_thread {
  border: 1px solid gray;
  padding: 1em; }

/* line 188, ../scss/app.scss */
div.main_column img {
  max-width: 100%; }

/* line 192, ../scss/app.scss */
.footer {
  padding: 1rem;
  background-color: #f8f9fa; }

/*# sourceMappingURL=app.css.map */
