/* line 5, ../scss/codelikethis.scss */
body {
  padding-top: 6rem;
}

/* line 9, ../scss/codelikethis.scss */
body {
  font-family: 'Museo500Regular', 'Arial', 'Sans';
  text-rendering: optimizelegibility;
}

/* line 122, ../scss/codelikethis.scss */
section.slide {
  border-top: 1px solid #ddd;
  padding-left: 1em;
  margin-bottom: 2em;
}

/* line 127, ../scss/codelikethis.scss */
section.slide h1, section.slide > h2:first-child {
  font-family: 'Helvetica Neue', Helvetica, Arial, Sans;
}

/* line 130, ../scss/codelikethis.scss */
section.slide > h2:first-child {
  margin: 2px 0 2px -4px;
  font-size: 2em;
  text-shadow: #ddd 0.1em 0.1em 0.1em;
}

/* line 135, ../scss/codelikethis.scss */
section.slide > h1 {
  font-size: 3em;
}

/* line 138, ../scss/codelikethis.scss */
section.slide.subsection {
  border-top: 2px solid blue;
}

/* line 141, ../scss/codelikethis.scss */
section.slide.subsection > h2:first-child {
  font-size: 3em;
}

/* line 144, ../scss/codelikethis.scss */
section.slide blockquote {
  font-style: italic;
  border-left: 2px solid #ddd;
  padding-left: 1em;
}

/* line 150, ../scss/codelikethis.scss */
.slide li {
  margin-bottom: .5em;
}

/* line 153, ../scss/codelikethis.scss */
.slide li:first-child {
  margin-top: .5em;
}

/* line 157, ../scss/codelikethis.scss */
.slide pre, code, kbd, samp {
  font-family: monospace, sans-serif;
  background: #f4f4f1;
}

/* line 161, ../scss/codelikethis.scss */
.slide pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 1em;
  border: 1px solid #ccc;
  display: inline-block;
  /* so it's only as wide as its contents */
}

/* line 169, ../scss/codelikethis.scss */
.slide code {
  color: #444;
  padding: 0 3px;
}

/* line 174, ../scss/codelikethis.scss */
iframe.video {
  margin: 1em;
  padding: .5em;
  border: 6px solid gray;
}

/* line 180, ../scss/codelikethis.scss */
div.bubble {
  border: 1px solid black;
  box-shadow: #c8c8f1 2px 2px 4px;
  max-width: 30em;
  padding: .25em 1em;
  margin-bottom: 1em;
}

/* line 188, ../scss/codelikethis.scss */
div.bubble h2 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

/* line 195, ../scss/codelikethis.scss */
div.right_side {
  float: right;
  max-width: 24em;
}

/* line 199, ../scss/codelikethis.scss */
div.twitter {
  padding-left: 1em;
}

/* line 202, ../scss/codelikethis.scss */
div.blog .rssHeader > a:after {
  content: " - Recent Blog Entries";
}
