/* Code ray css */
/* line 3, ../scss/coderay.scss */
.CodeRay {
  background: white;
  padding: 10px;
}

/* line 5, ../scss/coderay.scss */
.CodeRay .line-numbers a:target {
  color: blue !important;
}

/* line 6, ../scss/coderay.scss */
.CodeRay .line-numbers .highlighted {
  color: red !important;
}

/* line 7, ../scss/coderay.scss */
.CodeRay .line-numbers .highlighted a {
  color: red !important;
}

/* line 8, ../scss/coderay.scss */
.CodeRay span.line-numbers {
  padding: 0px 4px;
}

/* line 9, ../scss/coderay.scss */
.CodeRay .line {
  display: block;
  float: left;
  width: 100%;
}

/* line 10, ../scss/coderay.scss */
.CodeRay .code {
  width: 100%;
}

/* line 11, ../scss/coderay.scss */
.CodeRay .code pre {
  overflow: auto;
}

/* line 13, ../scss/coderay.scss */
.CodeRay .debug {
  color: white !important;
  background: blue !important;
}

/* line 15, ../scss/coderay.scss */
.CodeRay .annotation {
  color: #007;
}

/* line 16, ../scss/coderay.scss */
.CodeRay .attribute-name {
  color: #b48;
}

/* line 17, ../scss/coderay.scss */
.CodeRay .attribute-value {
  color: #700;
}

/* line 18, ../scss/coderay.scss */
.CodeRay .binary {
  color: #509;
}

/* line 19, ../scss/coderay.scss */
.CodeRay .char .content {
  color: #D20;
}

/* line 20, ../scss/coderay.scss */
.CodeRay .char .delimiter {
  color: #710;
}

/* line 21, ../scss/coderay.scss */
.CodeRay .char {
  color: #D20;
}

/* line 22, ../scss/coderay.scss */
.CodeRay .class {
  color: #B06;
  font-weight: bold;
}

/* line 23, ../scss/coderay.scss */
.CodeRay .class-variable {
  color: #369;
}

/* line 24, ../scss/coderay.scss */
.CodeRay .color {
  color: #0A0;
}

/* line 25, ../scss/coderay.scss */
.CodeRay .comment {
  color: #777;
}

/* line 26, ../scss/coderay.scss */
.CodeRay .comment .char {
  color: #444;
}

/* line 27, ../scss/coderay.scss */
.CodeRay .comment .delimiter {
  color: #444;
}

/* line 28, ../scss/coderay.scss */
.CodeRay .complex {
  color: #A08;
}

/* line 29, ../scss/coderay.scss */
.CodeRay .constant {
  color: #036;
  font-weight: bold;
}

/* line 30, ../scss/coderay.scss */
.CodeRay .decorator {
  color: #B0B;
}

/* line 31, ../scss/coderay.scss */
.CodeRay .definition {
  color: #099;
  font-weight: bold;
}

/* line 32, ../scss/coderay.scss */
.CodeRay .delimiter {
  color: black;
}

/* line 33, ../scss/coderay.scss */
.CodeRay .directive {
  color: #088;
  font-weight: bold;
}

/* line 34, ../scss/coderay.scss */
.CodeRay .doc {
  color: #970;
}

/* line 35, ../scss/coderay.scss */
.CodeRay .doc-string {
  color: #D42;
  font-weight: bold;
}

/* line 36, ../scss/coderay.scss */
.CodeRay .doctype {
  color: #34b;
}

/* line 37, ../scss/coderay.scss */
.CodeRay .entity {
  color: #800;
  font-weight: bold;
}

/* line 38, ../scss/coderay.scss */
.CodeRay .error {
  color: #F00;
  background-color: #FAA;
}

/* line 39, ../scss/coderay.scss */
.CodeRay .escape {
  color: #666;
}

/* line 40, ../scss/coderay.scss */
.CodeRay .exception {
  color: #C00;
  font-weight: bold;
}

/* line 41, ../scss/coderay.scss */
.CodeRay .float {
  color: #60E;
}

/* line 42, ../scss/coderay.scss */
.CodeRay .function {
  color: #06B;
  font-weight: bold;
}

/* line 43, ../scss/coderay.scss */
.CodeRay .global-variable {
  color: #d70;
}

/* line 44, ../scss/coderay.scss */
.CodeRay .hex {
  color: #02b;
}

/* line 45, ../scss/coderay.scss */
.CodeRay .imaginary {
  color: #f00;
}

/* line 46, ../scss/coderay.scss */
.CodeRay .include {
  color: #B44;
  font-weight: bold;
}

/* line 47, ../scss/coderay.scss */
.CodeRay .inline {
  background-color: rgba(0, 0, 0, 0.07);
  color: black;
}

/* line 48, ../scss/coderay.scss */
.CodeRay .inline-delimiter {
  font-weight: bold;
  color: #666;
}

/* line 49, ../scss/coderay.scss */
.CodeRay .instance-variable {
  color: #33B;
}

/* line 50, ../scss/coderay.scss */
.CodeRay .integer {
  color: #00D;
}

/* line 51, ../scss/coderay.scss */
.CodeRay .key .char {
  color: #60f;
}

/* line 52, ../scss/coderay.scss */
.CodeRay .key .delimiter {
  color: #404;
}

/* line 53, ../scss/coderay.scss */
.CodeRay .key {
  color: #606;
}

/* line 54, ../scss/coderay.scss */
.CodeRay .keyword {
  color: #080;
  font-weight: bold;
}

/* line 55, ../scss/coderay.scss */
.CodeRay .label {
  color: #970;
  font-weight: bold;
}

/* line 56, ../scss/coderay.scss */
.CodeRay .local-variable {
  color: #963;
}

/* line 57, ../scss/coderay.scss */
.CodeRay .namespace {
  color: #707;
  font-weight: bold;
}

/* line 58, ../scss/coderay.scss */
.CodeRay .octal {
  color: #40E;
}

/* line 60, ../scss/coderay.scss */
.CodeRay .predefined {
  color: #369;
  font-weight: bold;
}

/* line 61, ../scss/coderay.scss */
.CodeRay .predefined-constant {
  color: #069;
}

/* line 62, ../scss/coderay.scss */
.CodeRay .predefined-type {
  color: #0a5;
  font-weight: bold;
}

/* line 63, ../scss/coderay.scss */
.CodeRay .preprocessor {
  color: #579;
}

/* line 64, ../scss/coderay.scss */
.CodeRay .pseudo-class {
  color: #00C;
  font-weight: bold;
}

/* line 65, ../scss/coderay.scss */
.CodeRay .regexp .content {
  color: #808;
}

/* line 66, ../scss/coderay.scss */
.CodeRay .regexp .delimiter {
  color: #404;
}

/* line 67, ../scss/coderay.scss */
.CodeRay .regexp .modifier {
  color: #C2C;
}

/* line 68, ../scss/coderay.scss */
.CodeRay .regexp {
  background-color: rgba(255, 0, 255, 0.06);
}

/* line 69, ../scss/coderay.scss */
.CodeRay .reserved {
  color: #080;
  font-weight: bold;
}

/* line 70, ../scss/coderay.scss */
.CodeRay .shell .content {
  color: #2B2;
}

/* line 71, ../scss/coderay.scss */
.CodeRay .shell .delimiter {
  color: #161;
}

/* line 72, ../scss/coderay.scss */
.CodeRay .shell {
  background-color: rgba(0, 255, 0, 0.06);
}

/* line 73, ../scss/coderay.scss */
.CodeRay .string .char {
  color: #b0b;
}

/* line 74, ../scss/coderay.scss */
.CodeRay .string .content {
  color: #D20;
}

/* line 75, ../scss/coderay.scss */
.CodeRay .string .delimiter {
  color: #710;
}

/* line 76, ../scss/coderay.scss */
.CodeRay .string .modifier {
  color: #E40;
}

/* line 77, ../scss/coderay.scss */
.CodeRay .string {
  background-color: rgba(255, 0, 0, 0.05);
}

/* line 78, ../scss/coderay.scss */
.CodeRay .symbol .content {
  color: #A60;
}

/* line 79, ../scss/coderay.scss */
.CodeRay .symbol .delimiter {
  color: #630;
}

/* line 80, ../scss/coderay.scss */
.CodeRay .symbol {
  color: #A60;
}

/* line 81, ../scss/coderay.scss */
.CodeRay .tag {
  color: #070;
}

/* line 82, ../scss/coderay.scss */
.CodeRay .type {
  color: #339;
  font-weight: bold;
}

/* line 83, ../scss/coderay.scss */
.CodeRay .value {
  color: #088;
}

/* line 84, ../scss/coderay.scss */
.CodeRay .variable {
  color: #037;
}
